SESSION_SECRET=8TTc0KDH5Q08bHb94HsYZBsBz96ECQjX
DATABASE_URL=postgres://localhost/trackify_development
GMAIL_USER=
GMAIL_PASSWORD=
FEDEX_LOGIN=
FEDEX_PASSWORD=
FEDEX_KEY=
FEDEX_ACCOUNT=
FEDEX_TEST=true
UPS_KEY=
UPS_ACCOUNT=
UPS_LOGIN=
UPS_PASSWORD=
USPS_LOGIN=
