<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:tracking_numbers, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:tracking_numbers, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:tracking_numbers, :edit, :id => @tracking_number.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :tracking_number, url(:tracking_numbers, :update, :id => @tracking_number.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'tracking_numbers/form', :locals => { :f => f } %>
  <% end %>
</div>
